@inherits LayoutComponentBase

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark w-100">
        <a class="navbar-brand" href="">Razor Tabs Sample</a>
    </div>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
